.aboutModalHeader {
    padding: 30px 30px 0;
    text-align: center;
}

.aboutModalBody {
    padding: 0 30px;
    text-align: center;
}

.aboutModalFooter {
    padding: 0 0 15px;
    text-align: center;
}

.headerContainer {
    background-image: linear-gradient(black, white);
    color: white;
}

.headerContent {
    padding: 30px 0 15px;
    text-align: center;
}

.btnLinkCustom {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-family: arial, sans-serif;
    color: #0d6efd;
    text-decoration: underline;
    cursor: pointer;
}

.viewReactiveFormLink {
    margin-bottom: 15px;
}

.goBackButton {
    margin: 7px 0 15px;
}
